* {
    margin: 0;
}

body {
    font-family: Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

header {
    border-bottom: #ebe8e8 solid 1px;
}

#imageWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 60px;
}


#imageWrapper > img {
    height: 50px;
}

nav {
    width: 600px;
    margin: 10px auto;
}

nav > ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

nav > ul > li {
    text-align: center;
    padding: 10px 0;
    border-right: #ebe8e8 solid 1px;
    text-transform: uppercase;
    color: #5b4746;
    font-size: 13px;
}

nav > ul > li > a:hover {
    text-decoration: underline;
    text-decoration-color: #fff100;
    text-decoration-thickness: 2px;

}


nav > ul > li:last-child {
    border-right: none;
}


.respimg {
    width: 100%;
    height: auto;
    display: block;
}


main > header {
    border-top: 1px #ebe8e8 solid;
}

main > header > img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

main > header {
    position: relative;
}

main > header > p {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    width: 100%;
    color: white;
    font-size: 2.5em;
    text-shadow: 2px 2px #8D99AE;
}

@media (min-width: 800px) {
    main > header > p {
        font-size: 5em;
    }
}

section.recipes {
    margin-top: 50px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#recipeContainer {
    display: grid;
    gap: 15px;
}

#recipeContainer > article {
    margin-right: 1.5em;
    padding-top: 1em;
    border-top: #ddd solid 1px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#recipeContainer > article p.kicker {
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 1px;
    color: #ff4d56;
}

#recipeContainer > article h2 > a {
    text-decoration: none;
    color: black
}

#recipeContainer > article p.mainText {
    color: #666;
    line-height: 2;
}

#recipeContainer > article div.authorTimestampContainer {
    display: grid;
    grid-template-columns: auto 1fr;
}

#recipeContainer > article p.author {
    padding-right: 10px;
    border-right: 1px #ebe8e8 solid;
    font-style: italic;
    width: fit-content;
}

#recipeContainer > article p.timestamp {
    padding-left: 10px;
    color: #666;

}

section.recommended {
    margin-top: 50px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

footer {
   border: 1px #ebe8e8 solid;
    line-height: 2em;
}

footer > #left {
    float: left;
    width: 50%;
    box-sizing: border-box;
    text-align: right;
    padding-right: 20px;
}
footer > #right {
    float: right;
    width: 50%;
    box-sizing: border-box;
    text-align: left;
    background-color: black;
    color: white;
    padding-left: 20px;
}

@media (min-width: 770px) {
    #imageWrapper, nav, section.recipes, section.recommended {
        width: 750px;
    }
}

@media (min-width: 1000px) {
    #imageWrapper, nav, section.recipes, section.recommended {
        width: 980px;
    }
}
