body {
    margin: auto;
    font-family: Gadugi;
    font-size: 1em;
}

header {
    font-size: 1.5em;
    color: deepskyblue;
    height: 150px;
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    color: darkblue;
}

section h3{
    font-size: 1.5em;
    color: blue;
    border:  3px dotted dodgerblue;
    padding: 10px;
    background-color: lightblue;
}

img {
    max-width: 250px;
    padding: 25px;
}

a:hover {
    border: 2px dotted dodgerblue;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 3px solid #08007F;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
table td, table th {
    padding: 10px 10px;
}
table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #008DD4), color-stop(1, #08007F) );
    background:-moz-linear-gradient( center top, #008DD4 5%, #08007F 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#008DD4', endColorstr='#08007F');
    background-color:#008DD4; color:#FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 2px solid #0D0257;
}
table thead th:first-child {
    border: none;
}
table tbody td {
    color: #08007F;
    border-left: 2px solid #0D0257;
    font-size: 14px;
    font-weight: normal;
}
table tbody .alt td {
    background: #85CAED; color: #08007F;
}
table tbody td:first-child {
    border-left: none;
}
table tbody tr:last-child td {
    border-bottom: none;
}
.onbekend {
    background-color:red;
}